@import '../../Styles/abstracts/variables';
// body {
// 	background-image: $color-teal-gradient;
// }

.form__title {
	font-size: 20px;
	margin-left: 20px;
}

.form__label {
	font-size: 24px;
}

.form__icon {
	position: relative;
	right: 5px;
}

.form--container {
	border: 2 0px;
	transition: box-shadow 0.3s;
	border-radius: 20px;
	text-align: center;
	background-color: rgb(246, 246, 246);
	width: fit-content;
}

.login {
	background-image: $color-teal-gradient;
}
.login--container {
	margin-top: 20vh;
}
.login--container:hover {
	box-shadow: #004855 20px 54px 55px, #004855 0px -12px 30px, #004855 0px 4px 6px, #004855 0px 12px 13px, #004855 0px -3px 5px;
}

.form--title {
	margin-bottom: 20px;
}

// .form--submit-btn {
// 	margin-right: 50px;
// }

.rs-input {
	width: auto;
}

.rs-help-block {
	text-align: right;
}

#login {
	place-self: center;
}

.rs-panel-bordered {
	border: none;
}
