@import '../../Styles/abstracts/variables';

body {
	background: $color-teal-gradient;
}

.form--container {
	position: absolute;
	margin-left: 60vh;

	background-color: white;
	box-shadow: 5px 5px darken($color-teal-primary, 5%);
	border-radius: 20px;
	padding: 30px;
	width: fit-content;
}

.form--title {
	margin-bottom: 20px;
}

.form--submit-btn {
	margin-right: 50px;
}
