@import '../../Styles/abstracts/variables';
body {
	background-image: $color-teal-gradient;
}

.form__title {
	font-size: 20px;
	margin-left: 20px;
}

.form__label {
	font-size: 22px;
}

.form__icon {
	position: relative;
	right: 5px;
}

.form--container:hover {
	box-shadow: #004855 20px 54px 55px, #004855 0px -12px 30px, #004855 0px 4px 6px, #004855 0px 12px 13px, #004855 0px -3px 5px;
}

.register--container {
	margin-top: 10%;
	padding: 20px;
}

.form--title {
	margin-bottom: 20px;
}

.form--submit-btn {
	margin-right: 50px;
}

.rs-input {
	width: auto;
}

.rs-help-block {
	text-align: right;
}
