// .rs-sidebar {
//  flex: 1 !important;
//  align-items: stretch !important;
// }

.sidenav--container {
	height: 100vh;
	// width: fit-content;
}

.add-item-btn {
	margin-top: 30px;
	margin-left: 90%;
}
#personalInfo-title {
	text-align: center;
	color: rgb(246, 246, 246);
}

// .rs-panel {
// 	background-color: rgb(246, 246, 246);
// 	max-height: 30vh;
// }
