@import '../../Styles/main';
.info--item {
	margin: 8px;
	border-radius: 5px;
	padding: 15px;
	background-color: $color-white-light;
	border-width: 25px;
	border-color: blue;
	color: #07324a;
}

.info--item:hover {
	background-color: #0b4b6d !important;
	color: white;
	transition: ease-in 0.1s;
}
.info--item__title {
	margin-bottom: 10px;
}
.info--item--visibility {
	float: right;
}
