@import './Styles/abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');
* {
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-image: $color-teal-gradient;
	scroll-behavior: smooth;
}

#root {
	height: 100%;
}

a:hover {
	text-decoration: none;
}

a {
	font-size: 20px;
	font-weight: 400;
}

.app-container {
	height: 100vh;
	width: auto !important;
}
