@import '../../Styles/main';
.dashboard--sidenav--item {
	margin: 5px;
}

.dashboard--sidenav--container {
	background-color: $color-base;
	border-top: 2px solid lighten(#0e516b, 5%);
	border-right: 2px solid lighten(#0e516b, 5%);
	height: 92vh;
	border-radius: 0px 10px;
}
