@import '../../Styles/main';
.users--list--user {
	background-color: white;
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.users--list--user:hover {
	background-color: #0b4b6d;
	color: white;
}

.users--user--info {
	padding-top: 10px;
	font-size: 18px;
	width: fit-content;
}

.users--user--avatar {
	max-width: 100%;
	max-height: 100%;
}

.user--online {
	background-color: rgb(1, 201, 134);
}

.user--offline {
	background-color: $color-grey;
}
