@import '../../Styles/main';
.network--container {
	// margin: 0px 40px 0px 40px;
}
.search--container {
}
.users--container {
	width: 100%;
}
.search {
	width: fit-content;
	float: right;
	margin: 20px 20px 20px 0px;
}
