$color-white: rgb(255, 255, 255);
$color-purple-primary: rgb(131, 58, 180);
$color-orange-primary: rgb(253, 139, 29);
$color-orange-light: rgb(252, 176, 69);

$color-teal-primary: rgba(0, 152, 155, 1);
$color-teal-secondary: rgba(0, 94, 120, 1);
$color-teal-gradient: radial-gradient(circle farthest-corner at 10% 20%, rgba(0, 152, 155, 1) 0.1%, rgba(0, 94, 120, 1) 94.2%);
