@import '../../Styles/main';

.user--flex--container {
	background-color: $color-base-secondary;
	height: 91vh;
	border-right: 5px solid $color-base;
	overflow-y: scroll;
}

.chats--flex--container {
	background-color: $color-white-secondary;
	height: 91vh;
	overflow-y: scroll;
}

.chat--header--container {
	height: 8%;
	// background-color: darken($color-white-secondary, 7%);
	padding: 10px;
}

.header--info--container {
	font-size: 22px;
	margin-top: 5px;
}

.visit--profile--btn {
	float: right;
	margin-top: 2px;
}
.chat--body--container {
	height: 80%;
	width: 100%;
	padding: 10px;
	background-color: #fff;
	overflow-y: scroll;
}
.chat--footer--container {
	padding: 0px 30px 0px 30px;
}
.text--input--group {
	margin-top: 10px;
	border-radius: 10px;
	background-color: #fff;
}

.send--message--container {
	margin: 20px;
}
.send--message--btn {
	float: right;
	margin: 10px;
}
.send--icon {
	margin-left: 10px;
}

.create--chat--container {
	max-height: 70vh;
	overflow-y: auto;
}
.load--more--container {
	text-align: center;
	font-size: 12px;
}
.load--more--icon {
	display: block;
}
.load--more--link {
	font-size: 14px;
}
.user--flex--container::-webkit-scrollbar,
.chat--body--container::-webkit-scrollbar,
.create--chat--container::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

* {
	-ms-overflow-style: none;
}

.new--chat--container {
	margin: 10px;
}

.typing-indicator {
	$ti-color-bg: #e6e7ed;
	background-color: $ti-color-bg;
	will-change: transform;
	width: auto;
	border-radius: 50px;
	padding: 20px;
	float: left;
	display: table;
	margin-left: 0px;
	margin-bottom: 20px;
	position: relative;
	animation: 2s bulge infinite ease-out;
	transform: scale(0.7);
	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: -2px;
		left: -2px;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: $ti-color-bg;
	}
	&::after {
		height: 10px;
		width: 10px;
		left: -10px;
		bottom: -10px;
	}
	span {
		height: 10px;
		width: 10px;
		float: left;
		margin: 0 1px;
		background-color: #9e9ea1;
		display: block;
		border-radius: 50%;
		opacity: 0.4;
		@for $i from 1 through 3 {
			&:nth-of-type(#{$i}) {
				animation: 1s blink infinite ($i * 0.3333s);
			}
		}
	}
}
.messages--loader {
	display: grid;
	place-items: center;
	align-items: center;
	height: 80%;
}

.no-chats--flex--container {
	background-color: $color-white-secondary;
	height: 91vh;
}
.no-chats--container {
	margin-top: 10%;
	text-align: center;
}
.no-chats--text {
	margin-top: 10px;

	font-size: 36px;
}
.no-chats--chat--btn {
	margin-top: 30px;
	width: 20%;
	height: 50px;
}

@keyframes blink {
	50% {
		opacity: 1;
	}
}

@keyframes bulge {
	50% {
		transform: scale(0.75);
	}
}
