@import '../../Styles/main.scss';
@import '../../Styles//components/links';

.landing {
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	min-height: 80vh;
	margin-top: 25vh;
	height: 100%;
}

.show-grid {
	display: flex;
	justify-content: center;
}

.landing__btn {
	height: 55px;
	width: 150px;
	margin-top: 50px;
	font-weight: 400;
}

.landing__title {
	color: $color-white;
	font-size: 80px;
}
.landing__subtitle {
	margin-top: 25px;
	font-size: 35px;
	color: $color-white;
}
.landing__background {
	background-size: 100%;
	max-height: 95vh;
	background-repeat: no-repeat;
	// background:
	background-image: $color-teal-gradient-opaque, url(/Images/landing-background-vector.jpg);
	background-size: cover;
}

.landing__info {
	height: fit-content;
}

.show-grid {
	margin: 10px;
}
