@import '../../Styles/main.scss';
@import '../../Styles//components/links';
.navbar-brand {
	padding: 18px 20px;
	display: inline-block;
}

.rs-navbar {
	// background-size: cover;
	text-decoration: none;
}
