.notifications--item--container {
	width: 100%;
	margin: 3px 0px 3px 0px;
	padding: 10px;
	border-radius: 8px;
}
.notifications--item {
	width: 100%;
	white-space: initial;
	padding: 5px;
}

.sender {
	white-space: initial;
	margin: 15px 5px 5px 5px;
}
.avatar {
	margin-top: 10px;
}
.connect-btns {
	padding: 0px 5px 5px 5px;
}

.accept {
	margin-bottom: 5px;
}
