@import '../../Styles//main';

.job--container {
	background-color: #fff;
	width: 100%;
	margin: 10px;
	border-radius: 8px;
	padding: 20px;
	font-size: 20px;
	color: $color-base;
}

.job--creator--info {
	font-size: 18px;
	margin-top: 7px;
	height: 80%;
}

.job--creator--date {
	float: right;
}
.job--info {
	margin-left: 10px;
}

.job--info--description {
	margin-bottom: 10px;
	font-weight: 500;
}

.open--tag {
	background-color: rgb(0, 231, 154);
	color: #fff;
	margin-left: 10px;
}
.closed--tag {
	background-color: rgb(173, 2, 59);
	color: #fff;
	margin-left: 10px;
}
.job--info--body {
	font-size: 16px;
}

.job--apply--btn {
	float: right;
	width: 8%;
}

.job--info--body--container {
	margin-left: 0px;
}

.keyword--tag {
	margin-left: 10px;
	color: $color-base-secondary;
	background-color: darken($color-white-secondary, 10%);
}

.job--own--btn {
	float: right;
	background-color: rgb(255, 187, 0);
	color: #000;
}

.applicants--container {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	margin-bottom: 20px;
	height: 25vh;
	width: 100%;
}
